.parent{
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    background: #f0f0f0;
    background-image: url(img/back.png);
    background-size: 100%;
}
.main{
    margin-top: 220px;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.822);
    border-radius: 5px;
}
.blank{
    height: 40px;
}
.home_key{
    width:100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
/* a{
    font-size: 30px;
} */
.login{
    display: flex;
    
    justify-content: center;
}
.home_key > a{
    font-size: 30px;
}
a.button {
    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
  }
.btnPurple {
    background: #160585;
  }
.btnFade.btnPurple:hover {
    background: #180450;
  }