.parent{
    width:100%;
    height:800px;
    display: flex;
    justify-content: center;
    background: #f0f0f0;
    background-image: url(img/back.png);
    background-size: 100%;
}
.main{
    margin: 5%;
    width: 500px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.822);
    border-radius: 5px;

}
.blank{
    height: 40px;
}
.register{
    display: flex;
    justify-content: center;

}
.home_key{
    width:100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.home_key > a{
    font-size: 30px;
}